Service References/WsCancelacion331/WsCancelacion33.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://cfdi.ws2.facturehoy.certus.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="WsCancelacion33" targetNamespace="http://cfdi.ws2.facturehoy.certus.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://wsprod3.facturehoy.com:80/CFDI33/WsCancelacion33?xsd=1" namespace="http://cfdi.ws2.facturehoy.certus.com/" />
    </xsd:schema>
  </types>
  <message name="CancelarEncodeCSD">
    <part name="parameters" element="tns:CancelarEncodeCSD" />
  </message>
  <message name="CancelarEncodeCSDResponse">
    <part name="parameters" element="tns:CancelarEncodeCSDResponse" />
  </message>
  <message name="EmisionTimbradoException">
    <part name="fault" element="tns:EmisionTimbradoException" />
  </message>
  <message name="CancelarXMLFirmado">
    <part name="parameters" element="tns:CancelarXMLFirmado" />
  </message>
  <message name="CancelarXMLFirmadoResponse">
    <part name="parameters" element="tns:CancelarXMLFirmadoResponse" />
  </message>
  <message name="CancelarPFX">
    <part name="parameters" element="tns:CancelarPFX" />
  </message>
  <message name="CancelarPFXResponse">
    <part name="parameters" element="tns:CancelarPFXResponse" />
  </message>
  <portType name="WsCancelacion33">
    <operation name="CancelarEncodeCSD">
      <input wsam:Action="http://cfdi.ws2.facturehoy.certus.com/WsCancelacion33/CancelarEncodeCSDRequest" message="tns:CancelarEncodeCSD" />
      <output wsam:Action="http://cfdi.ws2.facturehoy.certus.com/WsCancelacion33/CancelarEncodeCSDResponse" message="tns:CancelarEncodeCSDResponse" />
      <fault wsam:Action="http://cfdi.ws2.facturehoy.certus.com/WsCancelacion33/CancelarEncodeCSD/Fault/EmisionTimbradoException" name="EmisionTimbradoException" message="tns:EmisionTimbradoException" />
    </operation>
    <operation name="CancelarXMLFirmado">
      <input wsam:Action="http://cfdi.ws2.facturehoy.certus.com/WsCancelacion33/CancelarXMLFirmadoRequest" message="tns:CancelarXMLFirmado" />
      <output wsam:Action="http://cfdi.ws2.facturehoy.certus.com/WsCancelacion33/CancelarXMLFirmadoResponse" message="tns:CancelarXMLFirmadoResponse" />
      <fault wsam:Action="http://cfdi.ws2.facturehoy.certus.com/WsCancelacion33/CancelarXMLFirmado/Fault/EmisionTimbradoException" name="EmisionTimbradoException" message="tns:EmisionTimbradoException" />
    </operation>
    <operation name="CancelarPFX">
      <input wsam:Action="http://cfdi.ws2.facturehoy.certus.com/WsCancelacion33/CancelarPFXRequest" message="tns:CancelarPFX" />
      <output wsam:Action="http://cfdi.ws2.facturehoy.certus.com/WsCancelacion33/CancelarPFXResponse" message="tns:CancelarPFXResponse" />
      <fault wsam:Action="http://cfdi.ws2.facturehoy.certus.com/WsCancelacion33/CancelarPFX/Fault/EmisionTimbradoException" name="EmisionTimbradoException" message="tns:EmisionTimbradoException" />
    </operation>
  </portType>
  <binding name="WsCancelacion33PortBinding" type="tns:WsCancelacion33">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="CancelarEncodeCSD">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="EmisionTimbradoException">
        <soap:fault use="literal" name="EmisionTimbradoException" namespace="" />
      </fault>
    </operation>
    <operation name="CancelarXMLFirmado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="EmisionTimbradoException">
        <soap:fault use="literal" name="EmisionTimbradoException" namespace="" />
      </fault>
    </operation>
    <operation name="CancelarPFX">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="EmisionTimbradoException">
        <soap:fault use="literal" name="EmisionTimbradoException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="WsCancelacion33">
    <port name="WsCancelacion33Port" binding="tns:WsCancelacion33PortBinding">
      <soap:address location="http://wsprod3.facturehoy.com:80/CFDI33/WsCancelacion33" />
    </port>
  </service>
</definitions>