Web References/FactureHoyNT/WsEmisionTimbrado.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://cfdi.ws2.facturehoy.certus.com/" targetNamespace="http://cfdi.ws2.facturehoy.certus.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CancelaOtroPAC" type="tns:CancelaOtroPAC" />
  <xs:element name="CancelaOtroPACResponse" type="tns:CancelaOtroPACResponse" />
  <xs:element name="Cancelar" type="tns:Cancelar" />
  <xs:element name="CancelarCFDI" type="tns:CancelarCFDI" />
  <xs:element name="CancelarCFDIResponse" type="tns:CancelarCFDIResponse" />
  <xs:element name="CancelarResponse" type="tns:CancelarResponse" />
  <xs:element name="EmitirTimbrar" type="tns:EmitirTimbrar" />
  <xs:element name="EmitirTimbrarPersonalizado" type="tns:EmitirTimbrarPersonalizado" />
  <xs:element name="EmitirTimbrarPersonalizadoResponse" type="tns:EmitirTimbrarPersonalizadoResponse" />
  <xs:element name="EmitirTimbrarResponse" type="tns:EmitirTimbrarResponse" />
  <xs:element name="EmitirTimbrarTest" type="tns:EmitirTimbrarTest" />
  <xs:element name="EmitirTimbrarTestResponse" type="tns:EmitirTimbrarTestResponse" />
  <xs:element name="RecuperarAcuse" type="tns:RecuperarAcuse" />
  <xs:element name="RecuperarAcuseCancelacion" type="tns:RecuperarAcuseCancelacion" />
  <xs:element name="RecuperarAcuseCancelacionResponse" type="tns:RecuperarAcuseCancelacionResponse" />
  <xs:element name="RecuperarAcuseResponse" type="tns:RecuperarAcuseResponse" />
  <xs:complexType name="EmitirTimbrarTest">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
      <xs:element minOccurs="0" name="contrasenia" type="xs:string" />
      <xs:element name="idServicio" type="xs:int" />
      <xs:element minOccurs="0" name="xml" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EmitirTimbrarTestResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:wsResponseBO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="wsResponseBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="arrayFolios" type="tns:wsCancelacionObj" />
      <xs:element minOccurs="0" name="acuse" type="xs:base64Binary" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="arregloAcuse" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="cadenaOriginal" type="xs:string" />
      <xs:element minOccurs="0" name="fechaHoraTimbrado" type="xs:dateTime" />
      <xs:element minOccurs="0" name="folioUDDI" type="xs:string" />
      <xs:element minOccurs="0" name="isError" type="xs:boolean" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
      <xs:element minOccurs="0" name="PDF" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="rutaDescargaPDF" type="xs:string" />
      <xs:element minOccurs="0" name="rutaDescargaXML" type="xs:string" />
      <xs:element minOccurs="0" name="selloDigitalEmisor" type="xs:string" />
      <xs:element minOccurs="0" name="selloDigitalTimbreSAT" type="xs:string" />
      <xs:element minOccurs="0" name="XML" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="wsCancelacionObj">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="arreglo" nillable="true" type="tns:wsItemCancelacionObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="wsItemCancelacionObj">
    <xs:sequence>
      <xs:element name="estatus" type="xs:int" />
      <xs:element minOccurs="0" name="UUID" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CancelaOtroPAC">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
      <xs:element minOccurs="0" name="contrasenia" type="xs:string" />
      <xs:element minOccurs="0" name="RFC" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFXPassword" type="xs:string" />
      <xs:element minOccurs="0" name="PFX" nillable="true" type="xs:base64Binary" />
      <xs:element name="idServicio" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CancelaOtroPACResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:wsResponseBO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RecuperarAcuse">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
      <xs:element minOccurs="0" name="contrasenia" type="xs:string" />
      <xs:element minOccurs="0" name="UUID" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RecuperarAcuseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:wsResponseBO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CancelarCFDI">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
      <xs:element minOccurs="0" name="contrasenia" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="keyEncode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CancelarCFDIResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:wsResponseCancelacionBO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="wsResponseCancelacionBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="arrayFolios" type="tns:wsCancelacionObj" />
      <xs:element minOccurs="0" name="acuse" type="xs:base64Binary" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="arregloAcuse" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="cadenaOriginal" type="xs:string" />
      <xs:element name="codigoError" type="xs:int" />
      <xs:element minOccurs="0" name="fechaHoraTimbrado" type="xs:dateTime" />
      <xs:element minOccurs="0" name="folioUDDI" type="xs:string" />
      <xs:element minOccurs="0" name="isError" type="xs:boolean" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
      <xs:element minOccurs="0" name="PDF" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="rutaDescargaPDF" type="xs:string" />
      <xs:element minOccurs="0" name="rutaDescargaXML" type="xs:string" />
      <xs:element minOccurs="0" name="selloDigitalEmisor" type="xs:string" />
      <xs:element minOccurs="0" name="selloDigitalTimbreSAT" type="xs:string" />
      <xs:element minOccurs="0" name="XML" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Cancelar">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
      <xs:element minOccurs="0" name="contrasenia" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="keyEncode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CancelarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:wsResponseBO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RecuperarAcuseCancelacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
      <xs:element minOccurs="0" name="contrasenia" type="xs:string" />
      <xs:element minOccurs="0" name="UUID" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RecuperarAcuseCancelacionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:wsResponseBO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EmitirTimbrar">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
      <xs:element minOccurs="0" name="contrasenia" type="xs:string" />
      <xs:element name="idServicio" type="xs:int" />
      <xs:element minOccurs="0" name="xml" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EmitirTimbrarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:wsResponseBO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EmitirTimbrarPersonalizado">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
      <xs:element minOccurs="0" name="contrasenia" type="xs:string" />
      <xs:element name="idServicio" type="xs:int" />
      <xs:element minOccurs="0" name="xml" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EmitirTimbrarPersonalizadoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:wsResponseEmitirBO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="wsResponseEmitirBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="acuse" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="cadenaOriginal" type="xs:string" />
      <xs:element name="codigoError" type="xs:int" />
      <xs:element minOccurs="0" name="fechaHoraTimbrado" type="xs:dateTime" />
      <xs:element minOccurs="0" name="folioUDDI" type="xs:string" />
      <xs:element minOccurs="0" name="isError" type="xs:boolean" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
      <xs:element minOccurs="0" name="PDF" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="rutaDescargaPDF" type="xs:string" />
      <xs:element minOccurs="0" name="rutaDescargaXML" type="xs:string" />
      <xs:element minOccurs="0" name="selloDigitalEmisor" type="xs:string" />
      <xs:element minOccurs="0" name="selloDigitalTimbreSAT" type="xs:string" />
      <xs:element minOccurs="0" name="XML" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>