Web References/NgEtiquetas/Etiquetas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://erp.natural.gs/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://erp.natural.gs/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://erp.natural.gs/">
      <s:element name="GetEtiquetaDeCajasByPedidoid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pedidoid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEtiquetaDeCajasByPedidoidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEtiquetaDeCajasByPedidoidResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetEtiquetaDeCajasByPedidoidSoapIn">
    <wsdl:part name="parameters" element="tns:GetEtiquetaDeCajasByPedidoid" />
  </wsdl:message>
  <wsdl:message name="GetEtiquetaDeCajasByPedidoidSoapOut">
    <wsdl:part name="parameters" element="tns:GetEtiquetaDeCajasByPedidoidResponse" />
  </wsdl:message>
  <wsdl:portType name="EtiquetasSoap">
    <wsdl:operation name="GetEtiquetaDeCajasByPedidoid">
      <wsdl:input message="tns:GetEtiquetaDeCajasByPedidoidSoapIn" />
      <wsdl:output message="tns:GetEtiquetaDeCajasByPedidoidSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EtiquetasSoap" type="tns:EtiquetasSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEtiquetaDeCajasByPedidoid">
      <soap:operation soapAction="http://erp.natural.gs/GetEtiquetaDeCajasByPedidoid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EtiquetasSoap12" type="tns:EtiquetasSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEtiquetaDeCajasByPedidoid">
      <soap12:operation soapAction="http://erp.natural.gs/GetEtiquetaDeCajasByPedidoid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Etiquetas">
    <wsdl:port name="EtiquetasSoap" binding="tns:EtiquetasSoap">
      <soap:address location="http://erp.natural.gs/portalcfd/pedidos/webservice/Etiquetas.asmx" />
    </wsdl:port>
    <wsdl:port name="EtiquetasSoap12" binding="tns:EtiquetasSoap12">
      <soap12:address location="http://erp.natural.gs/portalcfd/pedidos/webservice/Etiquetas.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>