Web References/CancelacionSIFEI/Cancelacion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://service.sifei.cancelacion/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="Cancelacion" targetNamespace="http://service.sifei.cancelacion/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="https://sat.sifei.com.mx:9000/CancelacionSIFEI/Cancelacion?xsd=1" namespace="http://service.sifei.cancelacion/" />
    </xsd:schema>
  </types>
  <message name="peticionesPendientes">
    <part name="parameters" element="tns:peticionesPendientes" />
  </message>
  <message name="peticionesPendientesResponse">
    <part name="parameters" element="tns:peticionesPendientesResponse" />
  </message>
  <message name="SifeiException">
    <part name="fault" element="tns:SifeiException" />
  </message>
  <message name="consultaSATCFDI">
    <part name="parameters" element="tns:consultaSATCFDI" />
  </message>
  <message name="consultaSATCFDIResponse">
    <part name="parameters" element="tns:consultaSATCFDIResponse" />
  </message>
  <message name="cancelaCFDI">
    <part name="parameters" element="tns:cancelaCFDI" />
  </message>
  <message name="cancelaCFDIResponse">
    <part name="parameters" element="tns:cancelaCFDIResponse" />
  </message>
  <message name="procesarRespuesta">
    <part name="parameters" element="tns:procesarRespuesta" />
  </message>
  <message name="procesarRespuestaResponse">
    <part name="parameters" element="tns:procesarRespuestaResponse" />
  </message>
  <message name="cfdiRelacionado">
    <part name="parameters" element="tns:cfdiRelacionado" />
  </message>
  <message name="cfdiRelacionadoResponse">
    <part name="parameters" element="tns:cfdiRelacionadoResponse" />
  </message>
  <portType name="Cancelacion">
    <operation name="peticionesPendientes">
      <input wsam:Action="http://service.sifei.cancelacion/Cancelacion/peticionesPendientesRequest" message="tns:peticionesPendientes" />
      <output wsam:Action="http://service.sifei.cancelacion/Cancelacion/peticionesPendientesResponse" message="tns:peticionesPendientesResponse" />
      <fault wsam:Action="http://service.sifei.cancelacion/Cancelacion/peticionesPendientes/Fault/SifeiException" name="SifeiException" message="tns:SifeiException" />
    </operation>
    <operation name="consultaSATCFDI">
      <input wsam:Action="http://service.sifei.cancelacion/Cancelacion/consultaSATCFDIRequest" message="tns:consultaSATCFDI" />
      <output wsam:Action="http://service.sifei.cancelacion/Cancelacion/consultaSATCFDIResponse" message="tns:consultaSATCFDIResponse" />
      <fault wsam:Action="http://service.sifei.cancelacion/Cancelacion/consultaSATCFDI/Fault/SifeiException" name="SifeiException" message="tns:SifeiException" />
    </operation>
    <operation name="cancelaCFDI">
      <input wsam:Action="http://service.sifei.cancelacion/Cancelacion/cancelaCFDIRequest" message="tns:cancelaCFDI" />
      <output wsam:Action="http://service.sifei.cancelacion/Cancelacion/cancelaCFDIResponse" message="tns:cancelaCFDIResponse" />
      <fault wsam:Action="http://service.sifei.cancelacion/Cancelacion/cancelaCFDI/Fault/SifeiException" name="SifeiException" message="tns:SifeiException" />
    </operation>
    <operation name="procesarRespuesta">
      <input wsam:Action="http://service.sifei.cancelacion/Cancelacion/procesarRespuestaRequest" message="tns:procesarRespuesta" />
      <output wsam:Action="http://service.sifei.cancelacion/Cancelacion/procesarRespuestaResponse" message="tns:procesarRespuestaResponse" />
      <fault wsam:Action="http://service.sifei.cancelacion/Cancelacion/procesarRespuesta/Fault/SifeiException" name="SifeiException" message="tns:SifeiException" />
    </operation>
    <operation name="cfdiRelacionado">
      <input wsam:Action="http://service.sifei.cancelacion/Cancelacion/cfdiRelacionadoRequest" message="tns:cfdiRelacionado" />
      <output wsam:Action="http://service.sifei.cancelacion/Cancelacion/cfdiRelacionadoResponse" message="tns:cfdiRelacionadoResponse" />
      <fault wsam:Action="http://service.sifei.cancelacion/Cancelacion/cfdiRelacionado/Fault/SifeiException" name="SifeiException" message="tns:SifeiException" />
    </operation>
  </portType>
  <binding name="CancelacionPortBinding" type="tns:Cancelacion">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="peticionesPendientes">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SifeiException">
        <soap:fault use="literal" name="SifeiException" namespace="" />
      </fault>
    </operation>
    <operation name="consultaSATCFDI">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SifeiException">
        <soap:fault use="literal" name="SifeiException" namespace="" />
      </fault>
    </operation>
    <operation name="cancelaCFDI">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SifeiException">
        <soap:fault use="literal" name="SifeiException" namespace="" />
      </fault>
    </operation>
    <operation name="procesarRespuesta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SifeiException">
        <soap:fault use="literal" name="SifeiException" namespace="" />
      </fault>
    </operation>
    <operation name="cfdiRelacionado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SifeiException">
        <soap:fault use="literal" name="SifeiException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="Cancelacion">
    <port name="CancelacionPort" binding="tns:CancelacionPortBinding">
      <soap:address location="https://sat.sifei.com.mx:9000/CancelacionSIFEI/Cancelacion" />
    </port>
  </service>
</definitions>